In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("combined_file.xlsx") # Membaca dataset
data.head(10)

,author,updated_at,like_count,text,public
0,@jemmypurnawan5409,2024-05-16T16:05:49Z,0,Saya hanya nonton chanel ini klo urusan transp...,True
1,@400jam5,2024-05-02T01:52:19Z,1,Itu Jam tangan yg di pake merek apa ya?,True
2,@Capone715,2024-04-12T13:34:03Z,1,Banding kan sama yang di italia ..........besa...,True
3,@SamsungA04e-dp7kj,2024-03-05T06:51:28Z,0,10000\nPerry Warjiyo\nSrimulyani\nFRANS KAISEI...,True
4,@user-mn9us9ku4n,2024-02-18T10:25:20Z,0,Produk Ameng ya?,True
5,@wayana.sanjaya8730,2024-02-12T18:54:48Z,0,"Terimakasih Bpk Jokowi, semoga tidak ada yang ...",True
6,@istiyantoyanto9068,2024-01-30T13:37:56Z,0,"Ibu pensiunan PT KA yo mas, salam buat keluarg...",True
7,@istiyantoyanto9068,2024-01-30T13:32:25Z,0,"Jam sampean mblandang 1 menit x mas, makanya s...",True
8,@sugaragaming27,2024-01-28T10:24:17Z,1,Kelasszzzz DUNIA skali kreta cepat INDONESIA k...,True
9,@Rjj770,2024-01-24T18:40:05Z,0,Proyek pengrusak bangsa,True

In [3]:
data.isna().sum()

author        1
updated_at    0
like_count    0
text          1
public        0
dtype: int64

In [4]:
data = data.dropna(subset=['text'])
data.isna().sum()

author        1
updated_at    0
like_count    0
text          0
public        0
dtype: int64

In [5]:
data.nunique()

author        8505
updated_at    9652
like_count     111
text          9552
public           1
dtype: int64

In [6]:
!pip install langdetect
from langdetect import detect, DetectorFactory
from langdetect.lang_detect_exception import LangDetectException

# Ensure consistent results
DetectorFactory.seed = 0

def is_specific_languages(comment):
    try:
        lang = detect(comment)
        return lang in ['en', 'zh-cn', 'ja', 'ko', 'zh-tw', 'ar']
    except LangDetectException:
        return False

# Apply the language filter only to non-null text comments
data['is_specific_language'] = data['text'].apply(is_specific_languages)

# Filter to keep only the comments in the specified languages
specified_language_comments = data[data['is_specific_language']]

# Filter to keep only non-specified language comments
non_specified_language_comments = data[~data['is_specific_language']]

# Drop the helper column from both datasets
specified_language_comments = specified_language_comments.drop(columns=['is_specific_language'])
non_specified_language_comments = non_specified_language_comments.drop(columns=['is_specific_language'])

# Save the comments in the specified languages to an Excel file
specified_language_comments.to_excel('specified_language_youtube_comments.xlsx', index=False)

# Update the data variable to only contain non-specified language comments
data = non_specified_language_comments

# Display the first few rows of the remaining dataset
data.head()

Requirement already satisfied: langdetect in c:\users\hardy\appdata\local\programs\python\python312\lib\site-packages (1.0.9)
Requirement already satisfied: six in c:\users\hardy\appdata\local\programs\python\python312\lib\site-packages (from langdetect) (1.16.0)

,author,updated_at,like_count,text,public
0,@jemmypurnawan5409,2024-05-16T16:05:49Z,0,Saya hanya nonton chanel ini klo urusan transp...,True
1,@400jam5,2024-05-02T01:52:19Z,1,Itu Jam tangan yg di pake merek apa ya?,True
2,@Capone715,2024-04-12T13:34:03Z,1,Banding kan sama yang di italia ..........besa...,True
3,@SamsungA04e-dp7kj,2024-03-05T06:51:28Z,0,10000\nPerry Warjiyo\nSrimulyani\nFRANS KAISEI...,True
4,@user-mn9us9ku4n,2024-02-18T10:25:20Z,0,Produk Ameng ya?,True

In [7]:
data.nunique()

author        7786
updated_at    8781
like_count     107
text          8691
public           1
dtype: int64

In [8]:
data.count()

author        8824
updated_at    8825
like_count    8825
text          8825
public        8825
dtype: int64

In [9]:
#LOWER CASING DATA
data["text_lower"] = data["text"].str.lower()
data.head()

,author,updated_at,like_count,text,public,text_lower
0,@jemmypurnawan5409,2024-05-16T16:05:49Z,0,Saya hanya nonton chanel ini klo urusan transp...,True,saya hanya nonton chanel ini klo urusan transp...
1,@400jam5,2024-05-02T01:52:19Z,1,Itu Jam tangan yg di pake merek apa ya?,True,itu jam tangan yg di pake merek apa ya?
2,@Capone715,2024-04-12T13:34:03Z,1,Banding kan sama yang di italia ..........besa...,True,banding kan sama yang di italia ..........besa...
3,@SamsungA04e-dp7kj,2024-03-05T06:51:28Z,0,10000\nPerry Warjiyo\nSrimulyani\nFRANS KAISEI...,True,10000\nperry warjiyo\nsrimulyani\nfrans kaisei...
4,@user-mn9us9ku4n,2024-02-18T10:25:20Z,0,Produk Ameng ya?,True,produk ameng ya?

In [10]:
import string

# Define punctuation characters and newline character ('\n') to replace with space
PUNCT_TO_REPLACE = string.punctuation + '\n'

def replace_punctuation_with_space(text):
    """Custom function to replace punctuation and newline characters with space"""
    translation_table = str.maketrans(PUNCT_TO_REPLACE, ' ' * len(PUNCT_TO_REPLACE))
    return text.translate(translation_table)

data["text_wo_punct"] = data["text_lower"].apply(replace_punctuation_with_space)
data.head()

,author,updated_at,like_count,text,public,text_lower,text_wo_punct
0,@jemmypurnawan5409,2024-05-16T16:05:49Z,0,Saya hanya nonton chanel ini klo urusan transp...,True,saya hanya nonton chanel ini klo urusan transp...,saya hanya nonton chanel ini klo urusan transp...
1,@400jam5,2024-05-02T01:52:19Z,1,Itu Jam tangan yg di pake merek apa ya?,True,itu jam tangan yg di pake merek apa ya?,itu jam tangan yg di pake merek apa ya
2,@Capone715,2024-04-12T13:34:03Z,1,Banding kan sama yang di italia ..........besa...,True,banding kan sama yang di italia ..........besa...,banding kan sama yang di italia besa...
3,@SamsungA04e-dp7kj,2024-03-05T06:51:28Z,0,10000\nPerry Warjiyo\nSrimulyani\nFRANS KAISEI...,True,10000\nperry warjiyo\nsrimulyani\nfrans kaisei...,10000 perry warjiyo srimulyani frans kaiseipo ...
4,@user-mn9us9ku4n,2024-02-18T10:25:20Z,0,Produk Ameng ya?,True,produk ameng ya?,produk ameng ya

In [11]:
data.isna().sum()

author           1
updated_at       0
like_count       0
text             0
public           0
text_lower       0
text_wo_punct    0
dtype: int64

In [12]:
data = data.dropna(subset=['text_wo_punct'])
data.isna().sum()

author           1
updated_at       0
like_count       0
text             0
public           0
text_lower       0
text_wo_punct    0
dtype: int64

In [13]:
# Define mapping for abbreviation expansion
abbreviation_mapping = {'yg': 'yang', 'klo': 'kalau'}

# Function to expand abbreviations
def expand_abbreviations(text, mapping):
    words = text.split()
    expanded_words = [mapping.get(word, word) for word in words]
    return ' '.join(expanded_words)

# Apply abbreviation expansion to 'text' column
data['text_expanded'] = data['text_wo_punct'].apply(lambda text: expand_abbreviations(text, abbreviation_mapping))

# Display the first few rows of the dataframe with expanded text
data.head()

,author,updated_at,like_count,text,public,text_lower,text_wo_punct,text_expanded
0,@jemmypurnawan5409,2024-05-16T16:05:49Z,0,Saya hanya nonton chanel ini klo urusan transp...,True,saya hanya nonton chanel ini klo urusan transp...,saya hanya nonton chanel ini klo urusan transp...,saya hanya nonton chanel ini kalau urusan tran...
1,@400jam5,2024-05-02T01:52:19Z,1,Itu Jam tangan yg di pake merek apa ya?,True,itu jam tangan yg di pake merek apa ya?,itu jam tangan yg di pake merek apa ya,itu jam tangan yang di pake merek apa ya
2,@Capone715,2024-04-12T13:34:03Z,1,Banding kan sama yang di italia ..........besa...,True,banding kan sama yang di italia ..........besa...,banding kan sama yang di italia besa...,banding kan sama yang di italia besar mengecew...
3,@SamsungA04e-dp7kj,2024-03-05T06:51:28Z,0,10000\nPerry Warjiyo\nSrimulyani\nFRANS KAISEI...,True,10000\nperry warjiyo\nsrimulyani\nfrans kaisei...,10000 perry warjiyo srimulyani frans kaiseipo ...,10000 perry warjiyo srimulyani frans kaiseipo ...
4,@user-mn9us9ku4n,2024-02-18T10:25:20Z,0,Produk Ameng ya?,True,produk ameng ya?,produk ameng ya,produk ameng ya

In [14]:
data.count()

author           8824
updated_at       8825
like_count       8825
text             8825
public           8825
text_lower       8825
text_wo_punct    8825
text_expanded    8825
dtype: int64

In [15]:
def word_count(text):
    # Split the text by spaces to count words
    return len(text.split())

# Apply the function to filter rows with fewer than 3 words
data = data[data['text_expanded'].apply(word_count) >= 3]

In [16]:
data.count()

author           8168
updated_at       8169
like_count       8169
text             8169
public           8169
text_lower       8169
text_wo_punct    8169
text_expanded    8169
dtype: int64

In [17]:
!pip install nltk

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Download NLTK stopwords data for Indonesian
nltk.download('stopwords')
nltk.download('punkt')

# Load Indonesian stopwords
stop_words_indonesian = set(stopwords.words('indonesian'))

def remove_stopwords(text):
    """Custom function to remove stopwords in Indonesian"""
    # Tokenize the text
    words = word_tokenize(text)
    # Remove stopwords
    filtered_words = [word for word in words if word.lower() not in stop_words_indonesian]
    # Join the filtered words back into a single string
    filtered_text = ' '.join(filtered_words)
    return filtered_text

# Apply remove_stopwords function to 'text' column
data['text_wo_stopwords'] = data['text_expanded'].apply(remove_stopwords)

# Display the first few rows of the dataframe with stopwords removed
data.head()

Requirement already satisfied: nltk in c:\users\hardy\appdata\local\programs\python\python312\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\hardy\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\hardy\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\hardy\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.5.15)
Requirement already satisfied: tqdm in c:\users\hardy\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.2)
Requirement already satisfied: colorama in c:\users\hardy\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hardy\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hardy\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,author,updated_at,like_count,text,public,text_lower,text_wo_punct,text_expanded,text_wo_stopwords
0,@jemmypurnawan5409,2024-05-16T16:05:49Z,0,Saya hanya nonton chanel ini klo urusan transp...,True,saya hanya nonton chanel ini klo urusan transp...,saya hanya nonton chanel ini klo urusan transp...,saya hanya nonton chanel ini kalau urusan tran...,nonton chanel urusan transportasi gak sengaja ...
1,@400jam5,2024-05-02T01:52:19Z,1,Itu Jam tangan yg di pake merek apa ya?,True,itu jam tangan yg di pake merek apa ya?,itu jam tangan yg di pake merek apa ya,itu jam tangan yang di pake merek apa ya,jam tangan pake merek ya
2,@Capone715,2024-04-12T13:34:03Z,1,Banding kan sama yang di italia ..........besa...,True,banding kan sama yang di italia ..........besa...,banding kan sama yang di italia besa...,banding kan sama yang di italia besar mengecew...,banding italia mengecewakan
3,@SamsungA04e-dp7kj,2024-03-05T06:51:28Z,0,10000\nPerry Warjiyo\nSrimulyani\nFRANS KAISEI...,True,10000\nperry warjiyo\nsrimulyani\nfrans kaisei...,10000 perry warjiyo srimulyani frans kaiseipo ...,10000 perry warjiyo srimulyani frans kaiseipo ...,10000 perry warjiyo srimulyani frans kaiseipo ...
4,@user-mn9us9ku4n,2024-02-18T10:25:20Z,0,Produk Ameng ya?,True,produk ameng ya?,produk ameng ya,produk ameng ya,produk ameng ya

In [18]:
# from collections import Counter
# cnt = Counter()
# for text in data["text_wo_stopwords"].values:
#     for word in text.split():
#         cnt[word] += 1
        
# cnt.most_common(10)

data.drop(["text_lower", "text_wo_punct", "text_expanded"], axis=1, inplace=True)
data.head()

,author,updated_at,like_count,text,public,text_wo_stopwords
0,@jemmypurnawan5409,2024-05-16T16:05:49Z,0,Saya hanya nonton chanel ini klo urusan transp...,True,nonton chanel urusan transportasi gak sengaja ...
1,@400jam5,2024-05-02T01:52:19Z,1,Itu Jam tangan yg di pake merek apa ya?,True,jam tangan pake merek ya
2,@Capone715,2024-04-12T13:34:03Z,1,Banding kan sama yang di italia ..........besa...,True,banding italia mengecewakan
3,@SamsungA04e-dp7kj,2024-03-05T06:51:28Z,0,10000\nPerry Warjiyo\nSrimulyani\nFRANS KAISEI...,True,10000 perry warjiyo srimulyani frans kaiseipo ...
4,@user-mn9us9ku4n,2024-02-18T10:25:20Z,0,Produk Ameng ya?,True,produk ameng ya

In [19]:
data.isna().sum()

author               1
updated_at           0
like_count           0
text                 0
public               0
text_wo_stopwords    0
dtype: int64

In [20]:
import pandas as pd
import re

# Define emoticons and emojis with corresponding words in Indonesian
EMO_UNICODE = {
    ':)': ' senyum ',
    ':(': ' sedih ',
    ':D': ' tertawa ',
    'XD': ' tertawa keras ',
    ':P': ' menjulurkan lidah ',
    ';)': ' kedipan ',
    ':o': ' terkejut ',
    ':*': ' cium ',
    ':((': ' sangat sedih ',
    ':@': ' marah ',
    '😂': ' tertawa terbahak-bahak ',
    '😍': ' terpesona ',
    '😭': ' menangis ',
    '😊': ' senyum ',
    '😢': ' sedih ',
    '😠': ' marah ',
    '👍': ' jempol ',
    '❤️': ' hati ',
    '❤': ' hati ',
    '🤩': ' hati ',
    '🔥': ' api ',
    '🙏': ' tangan berdoa ',
    '✨': ' berkilauan ',
    '🎉': ' pesta ',
    '💔': ' patah hati ',
    '😎': ' keren ',
    '💪': ' otot ',
    '👌': ' oke ',
    # Add more emojis and their corresponding words in Indonesian as needed
}

# Function to convert emoticons and emojis into words
def convert_emoticons_and_emojis(text):
    for emot in EMO_UNICODE:
        text = re.sub(re.escape(emot), EMO_UNICODE[emot], text)
    return text

# Apply emoticon and emoji conversion to 'text' column
data['text_converted'] = data['text_wo_stopwords'].apply(convert_emoticons_and_emojis)

# Display the first few rows of the dataframe with converted text
data.head()

,author,updated_at,like_count,text,public,text_wo_stopwords,text_converted
0,@jemmypurnawan5409,2024-05-16T16:05:49Z,0,Saya hanya nonton chanel ini klo urusan transp...,True,nonton chanel urusan transportasi gak sengaja ...,nonton chanel urusan transportasi gak sengaja ...
1,@400jam5,2024-05-02T01:52:19Z,1,Itu Jam tangan yg di pake merek apa ya?,True,jam tangan pake merek ya,jam tangan pake merek ya
2,@Capone715,2024-04-12T13:34:03Z,1,Banding kan sama yang di italia ..........besa...,True,banding italia mengecewakan,banding italia mengecewakan
3,@SamsungA04e-dp7kj,2024-03-05T06:51:28Z,0,10000\nPerry Warjiyo\nSrimulyani\nFRANS KAISEI...,True,10000 perry warjiyo srimulyani frans kaiseipo ...,10000 perry warjiyo srimulyani frans kaiseipo ...
4,@user-mn9us9ku4n,2024-02-18T10:25:20Z,0,Produk Ameng ya?,True,produk ameng ya,produk ameng ya

In [21]:
#defining function for tokenization
import re
def tokenization(text):
    tokens = re.split(' ',text)
    return tokens
#applying function to the column
data['msg_tokenied']= data['text_converted'].apply(lambda x: tokenization(x))
data.head()

,author,updated_at,like_count,text,public,text_wo_stopwords,text_converted,msg_tokenied
0,@jemmypurnawan5409,2024-05-16T16:05:49Z,0,Saya hanya nonton chanel ini klo urusan transp...,True,nonton chanel urusan transportasi gak sengaja ...,nonton chanel urusan transportasi gak sengaja ...,"[nonton, chanel, urusan, transportasi, gak, se..."
1,@400jam5,2024-05-02T01:52:19Z,1,Itu Jam tangan yg di pake merek apa ya?,True,jam tangan pake merek ya,jam tangan pake merek ya,"[jam, tangan, pake, merek, ya]"
2,@Capone715,2024-04-12T13:34:03Z,1,Banding kan sama yang di italia ..........besa...,True,banding italia mengecewakan,banding italia mengecewakan,"[banding, italia, mengecewakan]"
3,@SamsungA04e-dp7kj,2024-03-05T06:51:28Z,0,10000\nPerry Warjiyo\nSrimulyani\nFRANS KAISEI...,True,10000 perry warjiyo srimulyani frans kaiseipo ...,10000 perry warjiyo srimulyani frans kaiseipo ...,"[10000, perry, warjiyo, srimulyani, frans, kai..."
4,@user-mn9us9ku4n,2024-02-18T10:25:20Z,0,Produk Ameng ya?,True,produk ameng ya,produk ameng ya,"[produk, ameng, ya]"

In [22]:
# Save the English and Chinese comments to an Excel file
data.to_excel('cleaned.xlsx', index=False)

In [23]:
data.isna().sum()

author               1
updated_at           0
like_count           0
text                 0
public               0
text_wo_stopwords    0
text_converted       0
msg_tokenied         0
dtype: int64

In [24]:
data.dtypes

author               object
updated_at           object
like_count            int64
text                 object
public                 bool
text_wo_stopwords    object
text_converted       object
msg_tokenied         object
dtype: object

In [25]:
# Read the data back
reloaded_data = pd.read_excel('cleaned.xlsx')

In [26]:
reloaded_data.isna().sum()

author               1
updated_at           0
like_count           0
text                 0
public               0
text_wo_stopwords    1
text_converted       1
msg_tokenied         0
dtype: int64

In [27]:
reloaded_data.count()

author               8168
updated_at           8169
like_count           8169
text                 8169
public               8169
text_wo_stopwords    8168
text_converted       8168
msg_tokenied         8169
dtype: int64

In [28]:
reloaded_data = reloaded_data.dropna(subset=['text_wo_stopwords'])
reloaded_data.isna().sum()

author               1
updated_at           0
like_count           0
text                 0
public               0
text_wo_stopwords    0
text_converted       0
msg_tokenied         0
dtype: int64

In [29]:
reloaded_data.count()

author               8167
updated_at           8168
like_count           8168
text                 8168
public               8168
text_wo_stopwords    8168
text_converted       8168
msg_tokenied         8168
dtype: int64

In [30]:
reloaded_data.drop(["text_wo_stopwords"], axis=1, inplace=True)
reloaded_data.head()

,author,updated_at,like_count,text,public,text_converted,msg_tokenied
0,@jemmypurnawan5409,2024-05-16T16:05:49Z,0,Saya hanya nonton chanel ini klo urusan transp...,True,nonton chanel urusan transportasi gak sengaja ...,"['nonton', 'chanel', 'urusan', 'transportasi',..."
1,@400jam5,2024-05-02T01:52:19Z,1,Itu Jam tangan yg di pake merek apa ya?,True,jam tangan pake merek ya,"['jam', 'tangan', 'pake', 'merek', 'ya']"
2,@Capone715,2024-04-12T13:34:03Z,1,Banding kan sama yang di italia ..........besa...,True,banding italia mengecewakan,"['banding', 'italia', 'mengecewakan']"
3,@SamsungA04e-dp7kj,2024-03-05T06:51:28Z,0,10000\nPerry Warjiyo\nSrimulyani\nFRANS KAISEI...,True,10000 perry warjiyo srimulyani frans kaiseipo ...,"['10000', 'perry', 'warjiyo', 'srimulyani', 'f..."
4,@user-mn9us9ku4n,2024-02-18T10:25:20Z,0,Produk Ameng ya?,True,produk ameng ya,"['produk', 'ameng', 'ya']"

In [31]:
# Save the English and Chinese comments to an Excel file
reloaded_data.to_excel('cleaned_1,1.xlsx', index=False)

In [32]:
from collections import Counter
cnt = Counter()
for text in reloaded_data["msg_tokenied"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[("'',", 3371),
 ("'kereta',", 1791),
 ("'tertawa',", 1463),
 ("'terbahak-bahak',", 1458),
 ("'']", 1370),
 ("'cepat',", 1366),
 ("'indonesia',", 1043),
 ("'nya',", 922),
 ("'hati',", 747),
 ("'bandung',", 720)]

In [33]:
keywords = [
    'kereta', 'cepat', 'whoosh', 'tgv', 'china', 'shinkansen', 'jepang', 'prancis', 'italia', 
    'jokowi', 'utang', 'hutang', 'rugi', 'ka', 'proyek', 'negara', 'jakarta', 
    'jkt', 'bandung', 'surabaya', 'sby', 'indonesia', 'modal'
]

# Filter the DataFrame to only include rows containing the keywords
filtered_data = reloaded_data[reloaded_data['msg_tokenied'].str.contains('|'.join(keywords), case=False, na=False)]

In [34]:
filtered_data.count()

author            5691
updated_at        5692
like_count        5692
text              5692
public            5692
text_converted    5692
msg_tokenied      5692
dtype: int64

In [35]:
filtered_data.to_excel('cleaned_bangetz.xlsx', index=False)